/* index.css */

/* Tailwind CSS'i yükle */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Genel stil ayarları */
body {
  @apply font-exo; /* 'Exo 2' fontunu uygulayın */
  background-color: #f0f0f0; /* Arka plan rengini buraya yazın */
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
